<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

  <SaM_Settings_category>Signs and Memorials</SaM_Settings_category>

  <SaM_Settings_editOnBuild_label>Automatisch bearbeiten</SaM_Settings_editOnBuild_label>
  <SaM_Settings_editOnBuild_description>Öffnet den Bearbeiten-Tab automatísch sobald ein Schild/Denkmal gebaut wurde. Default (aus)</SaM_Settings_editOnBuild_description>

</LanguageData>
